@import "../components/sass-bootstrap/lib/bootstrap";

$height: 200px;
$margin: 60px;

$note-width: 20px;

.container {
  width: auto;
}

player {
  margin: $margin;
}

.theremin {
  margin: $margin;
  border-radius: 10px;
  background-color: #e74c3c;
  width: 700px;
  height: $height;
}

.note-marker {
  background-color: black;
  color: white;

  position: absolute;
  height: $height;
  width: $note-width;

  &:before {
    content: attr(id);
  }
}

view {
  position: absolute;
  top: 0;
  bottom: 20px;
  width: 100%;
  background: #111;
}

.scrubber {
  position: absolute;
  bottom: 0;
  width: 100%;

  input {
    width: 100%;
  }
}


input[type=range] {
  -webkit-appearance: none;
  background-color: #ccc;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #555;
}
