@import "../components/sass-bootstrap/lib/bootstrap";

$height: 200px;
$margin: 60px;

$note-width: 20px;

.container {
  width: auto;
}

player {
  margin: $margin;
}

.theremin {
  margin: $margin;
  border-radius: 10px;
  background-color: #e74c3c;
  width: 700px;
  height: $height;
}

.note-marker {
  background-color: black;
  color: white;

  position: absolute;
  height: $height;
  width: $note-width;

  &:before {
    content: attr(id);
  }
}

view {
  position: absolute;
  width: 100%;
  height: 100%;
}
