<div class="hero-unit">
  <player></player>
  <theremin>
    <div class="note-view" id="E3" freq="164.8"><br/>0</div>
    <div class="note-view" id="B4" freq="493.9"><br/>1<br/>6<br/>9<br/>12</div>
    <div class="note-view" id="C6" freq="1046.5"><br/>2</div>
    <div class="note-view" id="B5" freq="987.8"><br/>3<br/>7</div>
    <div class="note-view" id="D5" freq="587.3"><br/>4<br/>10</div>
    <div class="note-view" id="A4" freq="440"><br/>5</div>
    <div class="note-view" id="G5" freq="783"><br/>8</div>
    <div class="note-view" id="C5" freq="523.3"><br/>11</div>
    <div class="note-view" id="A3" freq="220"><br/>14</div>
  </theremin>
</div>
